:local(.friendListItem) {
  list-style: none;
  padding: 20px 10px 20px 20px;
  background-color: white;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

:local(.friendListItem hr) {
  width: 100%;
}

:local(.contentSection) {
  display: flex;
}

:local(.isHidden) {
  display: none;
}

:local(.friendInfos) {
  flex: 1 0 auto;
}

:local(.friendInfos span) {
  font-weight: bold;
}

:local(.friendActions) {
  flex: 0 0 90px;
}

:local(.friendActions.align) {
  display: flex;
  align-items: center;
}

:local(.btnAction) {
  width: 40px;
}

:local(.btnAction.selected) {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

:local(.btnAction),
:local(.btnAction):active,
:local(.btnAction):focus,
:local(.btnAction):hover {
  margin-left: 5px;
  color: #5c75b0;
}

button:focus {
  outline: 0 !important;
}
